* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%; /* Ensure the body takes up the full height of the viewport */
}
canvas {
  /* height: 100%;
  width: 100%; */
  border: 1px solid black;
}
